<%= javascript_include_tag "clipboard.min" %>

<div class="btn-group dropup">
    <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-share">  Share </i>
    </button> - (Don't expect a confirmation message)
    <ul class="dropdown-menu">
        <li><button class="btn dropdown-item active copy"><i class="fa fa-copy">Copy Link </i></button></li>
    </ul>
</div>

<!-- 3. Instantiate clipboard -->
<script>
    var clipboard = new ClipboardJS('.copy', {
        text: function() {
            return window.location.href;
        },
    });

    clipboard.on('success', function(e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);

        e.clearSelection();
    });

    clipboard.on('success', function(e) {
       return Copied to clipboard
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>