// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.bb {
    background-color: aliceblue;
}

.ba {
    background-color: violet;
}

.tt {
    background-color: royalblue;
}

.aa {
    font-weight: 700;
    margin-left: 6px;
    /* font-size: 16px; */
}

.ty {
    font-weight: 900;
    /* font-size: 24px; */
}

.nav-link {
    font-size: 12px;
    font-weight: 500;
}

.bt {
    font-weight: 600;
}

.totm {
    font-size: 12px;
    font-weight: 500;
}

.ay {
    font-size: 24px;
}

.omg  {
	padding-right: 480px;
}

.ico {
    font-size: 14px;
}

.nn { 
    min-width: 240px;
}

.yy {
    font-size: 24px;
    margin-left: 36em;
}

.media-content {
    margin-right: 48px;
}

.grid {
    background-color: #fff;
}